
// Object specific styling
.loading-overlay{
  z-index: 1001;
}

.window-upper-right {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 25vw;
  width: 20vw;
  min-width: 400px;
}

// Main styles
.cursor-pointer:hover {
  cursor: pointer;
}

.bg-white-transparent {
  background-color: rgba(255,255,255,0.5);
}
