
// Main styles
.cursor-pointer:hover {
  cursor: pointer;
}

.bg-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-trim {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hover-icon {
  opacity: 0.5;
  &.icon-invisible{
    opacity: 0;
  }
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.element-type-button {
  &.disabled {
    opacity: 0.5;
  }
  &:hover {
    cursor: pointer;
    .rounded-circle {
      box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.35) !important;
    }
  }
  .rounded-circle{
    min-width: 53.6px;    // Hotfix, since those icons are no squares
    min-height: 53.6px;
  }
}

.h-100-under-navbar {
  min-height: calc(100vh - 64px); // 64px is the navbar height
  max-height: calc(100vh - 64px);
}

// Object specific styling
.window-upper-right {
  position: absolute;
  margin-top: 1rem;
  right: 1rem;
  width: 25vw;
  min-width: 400px;
}

.modal-body {
  max-width: 500px;
}

.dropzone:hover {
  background-color: #eeeeee;
}

.window-top-center {
  position: absolute;
  margin-top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 25vw;
  min-width: 350px;
}

.md-form.md-outline{    // Removes that big ugly margin from the mdbootstrap outline input elements 
  margin-top: 0;
  margin-bottom: 0;
}

.situation-list {
  min-height: calc(100vh - 64px - 58px); // 64px is the navbar height
  max-height: calc(100vh - 64px - 58px);
  overflow-y: auto;
}

.situation-list-element:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.situation-options-tooltip{
  width: 300px !important;
  font-size: 1rem !important;
  font-weight: 400;
  pointer-events: auto !important; // Otherwise links are not clickable
}


// z-index for overlays
.navbar {
  z-index: 1000;
}
.popup-overlay {
  z-index: 1001;
}
.upload-overlay {
  z-index: 1002;
}
.loading-overlay {
  z-index: 1003;
}
.starting-overlay {
  z-index: 1004;
}
